body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #e1f8fc;
}
.contactText {
    margin-bottom: 2rem;
}

header {
    background-color: #fefefe;
    padding: 1rem;
}
footer {
    background-color: #fefefe;
    padding: 1rem;
}
section {
    background-color: #e1f8fc;
    padding: 2rem;
}

.centerContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;   
    margin-top: 2rem; 
}

.centerText {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;   
}

.maintext {
    font-size: 30px;
    margin-bottom: 1rem; 
}

.centerImage {
    filter: drop-shadow(7px 7px 7px #3b3b3b);
    -webkit-filter: drop-shadow(7px 7px 7px #3b3b3b);
    margin-top: 1rem; 
}
